[app]
address = "0.0.0.0:6000" # Address of the HTTP Server.
server_timeout = "5s" # Server timeout for HTTP requests.
enable_request_logs = true # Whether to log incoming HTTP requests or not.
log = "info" # Use `debug` to enable verbose logging. Can be set to `info` otherwise.

[providers.prod_alerts]
type = "google_chat" # Type of provider. Currently supported value is `google_chat`.
endpoint = "{{ gspace_webhook }}"
max_idle_conns =  50 # Max idle connections in the HTTP Client.
timeout = "7s" # Timeout for making requests to Provider.
# proxy_url = "http://internal-squid-proxy.com:3128" # Specify `proxy_url` as your proxy endpoint to route all HTTP requests to the provider via a proxy.
template = "/etc/calert/message.tmpl"
thread_ttl = "12h" # Timeout to keep active alerts in memory. Once this TTL expires, a new thread will be created.
dry_run = false

[providers.dev_alerts]
type = "google_chat"
endpoint = "{{ gspace_webhook }}"
max_idle_conns =  50
timeout = "7s"
# proxy_url = "http://internal-squid-proxy.com:3128"
template = "/etc/calert/message.tmpl"
thread_ttl = "12h"
dry_run = false

